<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boocks Storange</title>
    <link rel="stylesheet" href="">
    <!--<link rel="stylesheet" href="./src/public/bootstrap.min.css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <p class="navbar-brand ">
            Book's Storage
        </p>
    </nav>
    <div class="container p-2">
        <div class="card-header p-5">
            <h1 class="text-center">Lista de Registro</h1>
            <table class="table table-hover table-primary ">
                <thead>
                    <tr>
                        <th scope="col">Titulo</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Edicion</th>
                        <th scope="col">Precio</th>

                    </tr>
                </thead>

                <tbody id="trlist">

                </tbody>

            </table>
            <!-- <div id="trlist"></div>-->
            <script src="../ui/tabapp.js"></script>

</body>

</html>